<div class="container">
    <div class="row">
        <div class="col">
        </div>
        <div class="col">
            <img src="assets/img/giphy.gif" alt="burger" width="200" , height="180">
            <h1>Eat-Da-Burger!</h1>
            <div class="form-group">
                <textarea class="form-control" rows="5" cols="50 id="newBurger"></textarea>
                <button type="submit" form="nameform" value="Submit">Submit</button>
            </div>
        </div>
        <div class="col">
        </div>
    </div>
</div>