<div class="container">
    <div class="row">
        <div class="col">

            <h2>Burgers to devour!</h2>
            {{#each burgers}}
            {{#unless devoured}}
            {{> burgers/burger-block denvour=false}}
            {{/unless}}
            {{/each}}
            </ul>


        </div>
        <div class="col">
            <img src="assets/img/giphy.gif" alt="burger" width="200" , height="180">
            <h1>Eat-Da-Burger!</h1>
            <div class="form-group">
                <textarea class="form-control" rows="5" cols="50 id=" newBurger"></textarea>
                <br>
                <button type="submit" form="nameform" value="Submit" class="btn btn-success">Submit</button>
                <p>Enter a burger you want to eat Click the "Submit" button</p>
            </div>
        </div>
        <div class="col">
            
        </div>
    </div>
</div>